.nerd {
  background-color: aqua;
  font-size: large;
  border-style: dashed;
  border-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20%;
  
}